@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://use.typekit.net/tgz2uil.css");

@theme {
    --color-deepBlue: rgb(45, 61, 112);
    --color-fadedBlue: rgba(237, 242, 255, 1);
    --color-fadedBlack: rgb(0, 0, 0, 0);
    --color-gray: rgb(96, 100, 111);
    --color-grayFaded: rgba(96, 100, 111, 0.1);
    --color-blueOnAccordion: rgb(167, 190, 251);
    --color-lightGray: rgb(239, 240, 245);
    --color-textGrey: rgb(126, 131, 145);
    --color-borderGrey: rgb(214, 218, 227);
    --color-slateBlue: rgb(74, 97, 170);
    --color-asteriskRed: rgb(217, 45, 32);
    --color-registrationForm: rgba(251, 252, 254, 1);
    --color-inputBorder: rgba(202, 207, 218, 1)
}

:root {
    --blueRedGradient: linear-gradient(244.31deg, rgba(148, 39, 53, 0.66) -13.65%, rgba(27, 41, 90, 0.88) 50.44%);
    --deepBlue: rgb(45, 61, 112);
    --greyBoxShadow: 0px 1px 12px 0px rgba(27, 41, 90, 0.15);
    --slateBlue: rgb(74, 97, 170);
    --colorGray: rgb(96, 100, 111);
    --blueOnAccordion: rgb(167, 190, 251);
    --sectionGreyBg: rgb(248, 249, 252);
    --fadedBlue: rgba(237, 242, 255, 1);
}

body {

    font-family: "inter-tight-variable", sans-serif;
}


.blueRedGradient {
    background: var(--blueRedGradient);
}

input:focus {
    outline: none;
}


.header {
    color: var(--slateBlue);
    border: 2px solid var(--slateBlue);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 32px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* header */

.headerOnHeroSection {
    background: #f7f9ff1a;
    border-bottom: 1px solid rgba(247, 249, 255, 0.3);
}

.headerOnScroll,
.boxShadow {
    background: white;
    box-shadow: var(--greyBoxShadow);
}

.navigation.navOnScroll .navLink {
    color: rgb(45, 61, 112);
    transition: 0.3s ease-in-out;
}

.navigation.navOnScroll .navLink:hover {
    border-bottom: 2px solid rgb(45, 61, 112);
}

.navigation.navOnHeroSection .navLink {
    color: white;
    transition: 0.3s ease-in-out;
}

.navigation.navOnHeroSection .navLink:hover {
    border-bottom: 2px solid white;
}

.heroBgImg {
    object-fit: cover;
    object-position: top;
}

.navigation li {
    margin-left: 50px;
    cursor: pointer;
    font-weight: normal;
}




.navigation .subMenu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
}

.navigation .subMenu li span {
    font-size: 25px;
    opacity: 0;
}

.navigation .subMenu li:hover {

    background-color: var(--fadedBlue);
}

.navigation .subMenu li:hover span {
    opacity: 1;
}


/*  */
.border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/*  hero section*/

.bubbleIcon {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
}

.cubeIcon {
    opacity: 0.6;
}



.textGradient {
    background-image: linear-gradient(90deg, #7CB1FF 31.5%, #FE12AB 88.5%);
    -webkit-background-clip: text;
    color: transparent;
}

/* loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(244.31deg, rgb(148, 39, 53) -13.65%, rgb(27, 41, 90) 50.44%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
    z-index: 999;
}

.count {
    font-size: 50px;
    font-weight: bold;
    font-family: var(--fontJost);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.show {
    transform: translateY(0%);
}

.hide {
    transform: translateY(-100%);
}

.loader .count img {
    position: relative;
    bottom: 90%;
    width: 200px;
}

/* About section */

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.track-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.track-container .heading {
    font-size: 16px;
}

.tracks {
    display: flex;
    gap: 20px;
}

.track {
    background: #f9fafb;
    border-radius: 8px;
    width: 50%;
    padding: 10px 8px;
    border: 1px solid #e5e7eb;
    display: flex;
    align-items: start;
    gap: 5px;
}

.track .image {
    width: 65px;
    margin-top: 1px;
}

.track:first-of-type {

    background-color: rgba(255, 250, 245, 1);
    border: solid 2px rgba(236, 74, 10, 1);
}

.track:last-of-type {

    background-color: rgba(250, 250, 255, 1);
    border: solid 2px rgba(105, 56, 239, 1);
}



.track h3 {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 8px;
}

.track p {
    font-size: 14px;
    color: #4b5563;
    line-height: 1.5;
}


/* Who you are Section  */
.whoYouAreSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--sectionGreyBg);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


/* Faculties Section */

.facultiesSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--sectionGreyBg);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 70px 0 110px 0;
}

.cards-container {
    position: relative;
    max-width: 1200px;
    margin: 20px 30px 20px 0;
    transition: height 0.3s ease-in-out;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0c2c69;
    color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.card.active {
    z-index: 10;
}

.card-content {
    display: flex;
    align-items: stretch;
    gap: 100px;
}

.card-image img {
    width: 264px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;

}

.card-image p {
    font-size: 18px;
    color: #ccc;
}

.card-info {
    width: 65%;
    height: 320px;
}

.card-info .heading {
    margin-bottom: 10px;
    color: rgb(189, 209, 255);
    font-size: 14px;
}

.card-info .bio {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-info img {
    width: 16px;
}

.card-info .courses h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-info .courses ul {
    list-style-type: initial;
    padding-left: 30px;
}

.card-info .courses ul li {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.slider-buttons {
    display: flex;
    gap: 10px;
}

.slider-buttons button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.slider-buttons button:hover {
    background-color: white;
    color: var(--deepBlue);
}

.card-footer p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
}

.card-footer p:hover {
    text-decoration: underline;
}


/* Call to Action section */
.callToActionSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    text-align: center;
}


/* FAQS section */
.faqsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--sectionGreyBg);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 100px 0;
}

.shake-hover:hover {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }
}



/* footer */

.footer {
    background: #0b132b;
    color: white;
}


.polygon {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
}


.footer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    align-items: flex-end;
}

.footer-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footer-section {
    max-width: 200px;
}

.footer h4 {
    margin-bottom: 10px;
    color: rgba(202, 207, 218, 1);
    font-size: 12px;
    font-weight: 500;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;

}



/* Sliding Text */

.sliding-text-wrapper {
    overflow: hidden;
    background: white;
    padding-top: 10px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 0px;
    transform: skewY(7deg);
    position: relative;
    z-index: 5;
    margin-top: 100px;
}

.move-right {
    animation: slideRight 65s linear infinite;
}

.move-left {
    animation: slideLeft 65s linear infinite;
}

.move-right .sliding-text {
    color: transparent;
    -webkit-text-stroke: 2px transparent;
    background: linear-gradient(45deg, rgba(148, 39, 53, 1) 40%, rgba(27, 41, 90, 1) 80%);
    -webkit-background-clip: text;
    background-clip: text;
}

.move-left .sliding-text {
    color: white;
    margin-top: -40px;
    -webkit-text-stroke: 2px transparent;
    background: linear-gradient(45deg, rgba(148, 39, 53, 1) 40%, rgba(27, 41, 90, 1) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
}

.sliding-text-container {
    display: flex;
    width: fit-content;
}

.sliding-text {
    font-size: 70px;
    font-weight: bold;
    color: #07075e53;
    display: flex;
    gap: 0;
}


/* Recommendation Page */
.noticeGradientColor {
    background: linear-gradient(270.03deg, rgba(45, 61, 112, 0.66) 4.39%, rgba(27, 41, 90, 0.88) 55.38%);
}

@keyframes slideRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}





@media (max-width: 1000px) {
    .navigation li {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .headerOnNoScroll {
        background: none;
        border-bottom: none;
    }

    .brochureTab {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }

    .slider-buttons {
        bottom: 100px;
    }

    .card-content {
        display: block;
    }


    .card-image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .card-footer {
        margin-top: 40px;
    }

    .card {
        padding: 15px;
    }

    .card-footer p {
        display: none;
    }


    .cards-container {
        width: 85%;
    }

    .faqsSection {
        padding: 50px 0;
    }

    .callToActionSection {
        padding: 50px 0;
    }

    .footer-content {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer {
        padding: 40px 30px;
    }


    .footer img {
        margin-bottom: 20px;
    }

    .footer h4 {
        margin: 20px 0;
    }

    .footer p {
        margin: 5px 0;
        font-size: 14px;

    }
}

@media (max-width: 550px) {
    .loader .count img {
        width: 250px;
    }

    .count {
        font-size: 60px;
    }

    .facultiesSection {
        margin-top: -250px;
    }

    .tracks {
        flex-direction: column;
        gap: 20px;
    }

    .track {
        width: 100%;
    }

    .sliding-text-wrapper {
        margin-top: 60px;
    }
}

@media (max-width: 450px) {
    .facultiesSection {
        margin-top: -350px;
    }
}


@media (min-height: 600px) {
    .progressBar {
        margin-top: 100px;
    }
}


@media (max-height: 600px) {
    .heroSection {
        height: 700px;
    }

    .progressBar {
        margin-top: 250px;
    }

    .quizCont {
        height: 900px;
    }
}